{
  "prettier.printWidth": 30,
 
  "prettier.tabWidth": 2,
 
  "prettier.useTabs": true,
 
  "prettier.semi": false, 
 
  "prettier.singleQuote": false, 
 
  "prettier.proseWrap": "preserve",
 
  "prettier.arrowParens": "avoid", 
 
  "prettier.bracketSpacing": true, 
 
 
  "prettier.endOfLine": "auto", 
 
  "prettier.eslintIntegration": false, 
 
  "prettier.htmlWhitespaceSensitivity": "ignore",
 
  "prettier.ignorePath": ".prettierignore", 
 
  "prettier.jsxBracketSameLine": false, 
 
  "prettier.jsxSingleQuote": true, 
 
  "prettier.parser": "babylon",
 
  "prettier.requireConfig": false, 
 
  "prettier.stylelintIntegration": false,
 
  "prettier.trailingComma": "es5", 
 
  "prettier.tslintIntegration": false

}
